<div>
    <div class="submit-form">
      
        <div *ngIf="message" class="alert alert-danger" role="alert">
          {{message}}
        </div>
       <div class="form-group">
          <label for="date">Date</label>
          <input
            type="datetime-local"
            class="form-control"
            id="date"
            required [(ngModel)]="claim.date"
            name="date"
          />
        </div> 
  
        <div class="form-group">
          <label for="address">Address</label>
          <input
            class="form-control"
            id="address"
            required
            [(ngModel)]="claim.address"
            name="address"
          />
        </div>
  
        <div class="form-group">
          <label for="damaged_item">DamagedItem</label>
          <input
            class="form-control"
            id="damaged_item"
            required
            [(ngModel)]="claim.damaged_item"
            name="damaged_item"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="claim.description"
            name="description"
          />
        </div>
 

        <div class="form-group">
          <label for="incidence">Incendence</label>
          <input
            class="form-control"
            id="incidence"
            required
            [(ngModel)]="claim.incidence"
            name="incidence"
          />
        </div>
        <button (click)="saveClaim()" class="btn btn-success">Save</button>
<!--      
  
      <div *ngIf="submitted">
        <h4>Claim was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newClaim()">Add</button>
      </div> -->
    </div>
  </div>
